body {
    overflow: hidden;
    margin: 0;
    text-rendering: optimizeLegibility;
    font-family: 'Raleway', sans-serif;
    color: white;
}

/*
** General
*/
.app {
    position: relative;
    overflow: hidden;
    transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: moving-background-gradient 15s ease infinite;
}
.page {
    position: relative;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    cursor: default;
    padding: 2em;
}
.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    border-radius: 4px;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: background-cube 12s ease-in forwards infinite;
    z-index: -1;
}
.cube:nth-child(2n) {
    border-color: #FFF;
}
.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}
.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}
.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}
.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}
.tooltip {
    position: relative;
    display: inline-block;
}  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: -2em;
    bottom: -2.25em;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}


/*
** Intro
*/
.intro header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}
.intro header .logo {
    height: 72px;
    margin: 0 1em;
}
.intro header nav {
    width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.intro header nav a {
    color: white;
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.intro header nav a:hover {
    animation: nav-hover-rotate 1s ease infinite;
}
.intro .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.intro .content img {
    flex: 1 1 50%;
    max-width: 50%;
    margin: 0 auto;
    animation: intro-image-fade-in 3s ease;
}
.intro .content .tagline {
    flex: 0 1 50%;
    overflow: hidden;
    animation: expanding-tagline 3s ease;
}
.intro .content h1 {
    font-size: 5em;
    text-align: center;
    letter-spacing: 5px;
    margin: 0 10%;
}
.intro .content h2 {
    font-size: 2em;
    text-align: center;
    opacity: 0.6;
}

@media screen and (max-width: 1024px) {
    .intro .content img {
        flex: 1 1 100%;
        max-width: 85%;
        animation: none;
    }
    .intro .content .tagline {
        flex: 1 1 100%;
        animation: none;
    }
    .intro .content h1 {
        font-size: 3em;
        margin-bottom: 4em;
    }
}
@media screen and (max-width: 768px) {
    .intro header nav {
        width: 360px;
    }
    .intro header nav a {
        font-size: 1em;
    }
    .intro .content {
        justify-content: center;
    }
    .intro .content h1 {
        font-size: 2em;
        letter-spacing: 3px;
    }
}
@media screen and (max-width: 600px) {
    .intro header .logo {
        height: 48px;
        margin: 0;
    }
    .intro header nav {
        display: none;
    }
    .intro .content img {
        max-width: 100%;
        padding-left: 2em;
    }
    .intro .content .tagline {
        padding: 0
    }
    .intro .content h2 {
        font-size: 1em;
    }
    .intro .content h1 {
        font-size: 1.5em;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2em;
    }
}
@media screen and (max-width: 360px) {
    .intro .content h2 {
        font-size: 0.875em;
    }
    .intro .content h1 {
        font-size: 1.25em;
    }
}

/*
** Portfolio
*/

/*
** About
*/

/*
** Contact
*/
.contact .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.contact .content div {
    text-align: center;
}
.contact .content a {
    color: white;
    text-decoration: none;
}
.contact .content .social-icon {
    font-size: 2.5em;
    margin: 0 0.20em;
}
.contact .content .social-icon:hover {
    animation: nav-hover-rotate 1s ease infinite;
}
