body {
    overflow: hidden;
    margin: 0;
    text-rendering: optimizeLegibility;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.app {
    position: relative;
    overflow: hidden;
    transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
.page {
    position: relative;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    cursor: default;
    padding: 2em;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.intro header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}
.intro header .logo {
    height: 72px;
    margin: 0 1em;
}
.intro header nav {
    width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.intro header nav a {
    color: white;
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.intro header nav a:hover {
    animation: rotate 1s ease infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    40% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0);
    }
}
.intro .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.intro .content img {
    flex: 1 1 50%;
    max-width: 0%;
    margin: 0 auto;
    animation: slide-y 2s ease;
    animation-delay: 3s;
    -webkit-animation-delay: 2.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes slide-y {
    0% {
        opacity: 0;
        max-width: 25%;
    }
    100% {
        opacity: 1;
        max-width: 50%;
    }
}
.intro .content h1 {
    font-size: 5em;
    text-align: center;
    letter-spacing: 5px;
    margin: 0 2em;
}
.intro .content h2 {
    text-align: center;
}
.intro .content .tagline {
    flex: 0 1 50%;
    overflow: hidden;
    animation: flex-expand 3s ease;
}
@keyframes flex-expand {
    0% {
        flex: 0 1 0%;
        opacity: 0;
    }
    50% {
        flex: 0 1 10%;
        opacity: 0;
    }
    100% {
        flex: 0 1 50%;
        opacity: 1;
    }
}
@media screen and (max-width: 768px) {
    .intro header nav {
        width: 360px;
    }
    .intro header nav a {
        font-size: 1em;
    }
    .intro .content {
        justify-content: center;
    }
    .intro .content img {
        flex: 1 1 100%;
        max-width: 80%;
    }
    .intro .content .tagline {
        flex: 1 1 100%;
    }
    .intro .content h1 {
        font-size: 2em;
        letter-spacing: 3px;
        margin-bottom: 4em;
    }
}
@media screen and (max-width: 600px) {
    .intro header .logo {
        height: 48px;
        margin: 0;
    }
    .intro header nav {
        display: none;
    }
    .intro .content img {
        max-width: 100%;
        padding-left: 2em;
    }
    .intro .content .tagline {
        padding: 0
    }
    .intro .content h1 {
        font-size: 1.5em;
        margin-bottom: 2em;
    }
}
@media screen and (max-width: 360px) {
    .intro .content h1 {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}
.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
    z-index: -1;
}
.cube:nth-child(2n) {
    border-color: #FFF;
}
.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}
.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}
.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}
.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}
@keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
}
