body {
    overflow: hidden;
    margin: 0;
    text-rendering: optimizeLegibility;
    font-family: 'Raleway', sans-serif;
    color: white;
}

/*
** General
*/
.app {
    position: relative;
    overflow: hidden;
    transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: moving-background-gradient 15s ease infinite;
}
.page {
    position: relative;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    cursor: default;
    padding: 2em;
    z-index: 0;
}
.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    border-radius: 4px;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: background-cube 12s ease-in forwards infinite;
    z-index: -1;
}
.cube:nth-child(2n) {
    border-color: #FFF;
}
.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}
.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}
.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}
.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}
.tooltip {
    position: relative;
    display: inline-block;
}  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: -2em;
    bottom: -2.25em;
    font-size: 1rem !important;
}
.tooltip .tooltiptext.top {
    bottom: auto;
    left: 0.5em;
    top: -2em;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}


/*
** Intro
*/
.intro header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}
.intro header .logo {
    height: 72px;
    margin: 0 1em;
}
.intro header nav {
    width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.intro header nav a {
    color: white;
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.intro header nav a:hover {
    animation: nav-hover-rotate 1s ease infinite;
}
.intro .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.intro .content img {
    flex: 1 1 50%;
    max-width: 50%;
    margin: 0 auto;
    animation: intro-image-fade-in 3s ease;
}
.intro .content .tagline {
    flex: 0 1 50%;
    overflow: hidden;
    animation: expanding-tagline 3s ease;
}
.intro .content h1 {
    font-size: 5em;
    text-align: center;
    letter-spacing: 5px;
    margin: 0 10%;
}
.intro .content h2 {
    font-size: 2em;
    text-align: center;
    opacity: 0.6;
}
@media screen and (max-width: 1440px) {
    .intro .content h1 {
        font-size: 3em;
    }
}
@media screen and (max-width: 1024px) {
    .intro .content img {
        flex: 1 1 100%;
        max-width: 85%;
        animation: none;
    }
    .intro .content .tagline {
        flex: 1 1 100%;
        animation: none;
    }
    .intro .content h1 {
        font-size: 3em;
        margin-bottom: 4em;
    }
}
@media screen and (max-width: 768px) {
    .intro header nav {
        width: 360px;
    }
    .intro header nav a {
        font-size: 1em;
    }
    .intro .content {
        justify-content: center;
    }
    .intro .content h1 {
        font-size: 2em;
        letter-spacing: 3px;
    }
}
@media screen and (max-width: 600px) {
    .intro header .logo {
        height: 48px;
        margin: 0;
    }
    .intro header nav {
        display: none;
    }
    .intro .content img {
        max-width: 100%;
        padding-left: 2em;
    }
    .intro .content .tagline {
        padding: 0
    }
    .intro .content h2 {
        font-size: 1em;
    }
    .intro .content h1 {
        font-size: 1.5em;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2em;
    }
}
@media screen and (max-width: 360px) {
    .intro .content h2 {
        font-size: 0.875em;
    }
    .intro .content h1 {
        font-size: 1.25em;
    }
}

/*
** Portfolio
*/
.portfolio-page {
    height: auto;
    min-height: 100vh;
}
.portfolio-page.intro h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 2em;
}
.portfolio-page.intro .content {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    align-items: center;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    overflow-y: scroll;
}
.portfolio-page.intro .content .card {
    flex: 0 1 22.5%;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    max-height: 160px;
    overflow: hidden;
}
.portfolio-page.intro .content .card .card-image {
    position: relative;
    max-height: 120px;
    overflow: hidden;
}
.portfolio-page.intro .content .card .card-image img {
    flex: none;
    max-width: 100%;
    width: 100%;
    border-radius: 8px;
}
.portfolio-page.intro .content .card .card-image .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    opacity: 0;
}
.portfolio-page.intro .content .card .card-image .overlay:hover {
    opacity: 1;
    transition: opacity .3s ease;
}
.portfolio-page.intro .content .card .card-image h2 {
    position: absolute;
    bottom: 0;
    left: 1em;
    font-size: 1em;
}
.portfolio-page.intro .content .card .card-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}
.portfolio-page.intro .content .card .card-action a {
    margin: 0 0.25em;
}
.portfolio-page.intro .content .card .card-action .chip {
    float: left;
    background-color: #212335;
    padding: 0.25em 1em;
    border-radius: 12px;
}
@media screen and (max-width: 1024px) {
    .portfolio-page.intro .content .card {
        flex: 0 1 30%;
    }
}
@media screen and (max-width: 600px) {
    .portfolio-page.intro h1 {
        font-size: 1.75em;
    }
    .portfolio-page.intro .content {
        height: 67.5vh;
        overflow-y: scroll;
        margin-bottom: 1em;
    }
    .portfolio-page.intro .content .card {
        flex: 0 1 45%;
    }
    .portfolio-page.intro .content .card img {
        padding-left: 0;
    }
}
@media screen and (max-width: 480px) {
    .portfolio-page.intro .content .card {
        flex: 0 1 100%;
    }
}
@media screen and (max-width: 360px) {
    .portfolio-page.intro h1 {
        font-size: 1.25em;
    }
    .portfolio-page.intro .content {
        height: 67.5vh;
    }
}

/*
** About
*/
.about .content {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.about .content .photo {
    position: relative;
    flex: 0 1 40%;
    height: 50%;
}
.about .content .photo .snapstack {
    position: relative;
}
.about .content .photo .snap {
    position: absolute;
    left: 25%;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.2);
    transition: all .5s ease;
    width: 50%;
}
.about .content .photo .snap.snap1 {
    z-index: 1;
    transform: rotate(-15deg);
}
.about .content .photo .snap.snap2 {
    z-index: 2;
    transform: rotate(0);
}
.about .content .photo .snap:hover {
    transform: rotate(0) scale(1.2);
    transition: all .5s ease;
    z-index: 3;
}
.about .content .photo .snap .snap-frame {
    overflow: hidden;
    margin: 1em 1em 7em 1em;
}
.about .content .photo .snap .snap-frame img {
    max-width: 500px;
    width: 100%;
}
.about .content .story {
    flex: 0 1 60%;
}
.about .content .story h1 {
    font-size: 3em;
    letter-spacing: 1.5px;
}
.about .content .story h2 {
    letter-spacing: 1.2px;
    line-height: 1.75em;
}
.about .content .story a {
    color: #212335;
    background: white;
    padding: 4px;
    border-radius: 4px;
}
@media screen and (max-width: 1024px) {
    .about .content .photo {
        flex: 1 1 100%;
        height: 30%;
    }
    .about .content .photo .snap {
        left: 30%;
        width: 40%;
    }
    .about .content .story {
        flex: 1 1 100%;
    }
}
@media screen and (max-width: 768px) {
    .about .content .photo .snap .snap-frame {
        margin-bottom: 5em;
    }
    .about .content .story h1 {
        font-size: 1.75em;
    }
    .about .content .story h2 {
        font-size: 1em;
    }
}
@media screen and (max-width: 600px) {
    .about .content .photo {
        height: 35%;
    }
    .about .content .photo .snap {
        left: 25%;
        width: 50%;
    }
    .about .content .photo .snap .snap-frame {
        margin: 0.5em 0.5em 3em 0.5em;
    }
    .about .content .story h1 {
        font-size: 1.25em;
    }
    .about .content .story h2 {
        font-size: 0.75em;
    }
}
@media screen and (max-width: 360px) {
    .about .content .story h1 {
        font-size: 1em;
    }
    .about .content .story h2 {
        font-size: 0.625em;
    }
}

/*
** Contact
*/
.contact .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.contact .content div {
    text-align: center;
}
.contact .content a {
    color: white;
    text-decoration: none;
}
.contact .content .social-icon {
    font-size: 2.5em;
    margin: 0 0.20em;
}
.contact .content .social-icon:hover {
    animation: nav-hover-rotate 1s ease infinite;
}
@media screen and (max-width: 600px) {
    .contact .content h2 {
        font-size: 1em;
    }
    .contact .content .social-icon {
        font-size: 1.5em;
    }
}
